Package: ubuntu-theme
Version: 1.0
Architecture: all
Maintainer: MFDGaming
Installed-Size: 49000
Depends: gnome-shell, dconf-gsettings-backend | gsettings-backend, gnome-shell-extension-desktop-icons, gnome-shell-extensions
Replaces: gnome-shell-extension-dashtodock
Section: gnome
Priority: optional
Description: Ubuntu look and feel for debian
